body {
  background-image: url('https://pikaso.cdnpk.net/private/production/1006057923/render.jpeg?token=exp=1753142400~hmac=6f7988bb695010787d5d6e7172072b1d14a31d03a2bf9d260792634db1dce99a');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border: #00296b;
  
}

header {
  position: fixed;
  background-color: #00296b;
  top: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  
}

header h1{
  margin: 0;
}

header h1 a{
  
  color:#ddd;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  display: inline-flex;
  justify-content: space-around;
}

header nav li {

  font-size: 20px;
}

header nav a {
  color: #FFD500;
  text-decoration: none;
}

header nav a:hover {
  color: white;
}

.primeira {
  display: flex;
  flex-wrap: wrap;
  padding: 300px;
  color: #fff;
  justify-content: flex-start;
  height: 300px;
  margin: 0;
  text-align: left;
  margin-bottom: 20px;
  width: 0px 0px 400px 0px;
  font-family: sans-serif;
  font-size: xx-large;
}

.primeira h1{
  font-family: sans-serif;
  font-size: 70px;
}

.segunda {
  flex-wrap: wrap;
  padding: 250px;
  background-color: #fff;
  color: #00296b;
  display: flex;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 40px;
}

.terceira {

  padding: 50px;

  color: #00296b;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;


}

.button1 {
  justify-content: flex-start;
  background-color: #FFD500;
  padding: 20px 20px;
  border-radius: 20px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  margin: left;
  width: 400px;
  height: 80px;
}

.button1:hover{
  /*background-color: #FFD700;*/
  color: #00296b;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  background: rgb(61, 106, 255) !important;
  border: none;
  box-shadow: inset 0px 0px 5px 5px #ffffff25, 0 0 30px 5px rgba(0, 142, 236, 0.815) !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transform: scale(1.03);
  transition: all 0.2s ease-out;
}

.button1 a {
  text-decoration: none;
}
button {
  padding: 10px;
  font-size: 20px;
  background-color: #FFD500;
  color: #00296b;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 32px;
}

.form {
  border: 10px solid #000000;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  color: #fff;    
  
}




label {

  display: block; /* Faz o rótulo ocupar toda a largura */

  margin-bottom: 5px; /* Espaçamento abaixo do rótulo */

  font-weight: bold; /* Deixa o texto do rótulo em negrito */

  color: #00296b; /* Cor do texto do rótulo */

}

.button2 {
  background-color: #FFD500; 
  color: #00296b;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2:hover{
  background-color: #FFD700;
  color: #00296b;
  transform: scale(1.0);
  transition: transform 0.3s ease-in-out;
  filter: brightness(0.9); 
}    

footer {
  background-color: #00296b;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}    





.destaque {
  color: #FFD500;
  white-space: nowrap;
}    


.input-field, .textarea-field {

  width: 100%; /* O campo ocupa toda a largura disponível */


  margin-bottom: 15px; /* Espaçamento entre os campos */

  border: 2px solid #ccc; /* Borda dos campos */

  border-radius: 5px; /* Cantos arredondados nos campos */

  font-size: 16px; /* Tamanho da fonte */

  transition: border-color 0.3s ease; /* Transição suave para a borda */

}    


.input-field:focus, .textarea-field:focus {

  border-color: #FFD500; /* Cor da borda ao focar */

  outline: none; /* Remove o contorno padrão */

}    


textarea {

  resize: vertical; /* Permite redimensionar verticalmente */

  min-height: 100px; /* Altura mínima */


}    

.quizpt1 {
  margin-bottom: 0px;
  color: #fff;
  font-family: sans-serif;
  font-size: 100px;
  
}

.equipe-secao {
  display: flex;
  justify-content: center;
 position: absolute ;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.cartao-integrante {
  flex: 1 1 250px; /* Ajusta os cartões para serem responsivos */
  min-height: 350px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  max-width: 350px; /* Define uma largura máxima para manter consistência */
  border-color: #00296b;
  border-style:groove;
}


.foto-perfil {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto 15px;
}

.nome-integrante {
  font-size: 1.2em;
  font-weight: bold;
  color: #00296b;
  margin-bottom: 10px;
}

.cargo-integrante {
  font-size: 1em;
  color: #00296b;
  margin-bottom: 15px;
}

.cartao-integrante:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;

}

.descricao-integrante {
  font-size: 0.9em;
  color: #00296b;
}



h1 {
  margin-bottom: 0px;
  color: #fff;
  font-family: sans-serif;
  font-size: xx-large;
  
}    

h2 {

  color: #00296b;

  margin-bottom: 20px;

}    

p {
  font-size: 20px;
  color: #fff;
}    

h3 {
  margin-bottom: 30px;
  color: #fff;
}  


.container {

  background-color: #fff;

  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 30px;

  width: 400px; /* Ajuste a largura conforme necessário */

  margin: 0 auto;


}    

.titulo-equipe {
  text-align: center;
  font-size: 2em;
  color: #00296b;
  margin-bottom: 600px;
}

.foto-perfil img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}  