body {
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    color:#fff;
    padding: 2em;
    background-color: #1240b3;
    border: #00296b;
    overflow-x: hidden;
    text-decoration: none;
  
  }
  
  
  header {
    position: absolute;
    background-color: #00296b;
    top: 0;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    position: fixed;
    
  }
  header h1{
    margin: 0;
    font-size: 30px;
  }
  
  header h1 a{
    
    color:#ddd;
    text-decoration: none;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: inline-flex;
    justify-content: space-around;
  }
  
  header nav li {
  
    font-size: 20px;
  }
  
  header nav a {
    color: #FFD500;
    text-decoration: none;
  }
  
  header nav a:hover {
    color: white;
  }
  
  h1 {
    margin: 0.3em;
    font-size: 3em;
    color: yellow;
    text-decoration: none;
  }
  
  h2 {
    margin-bottom: 0.5em;
    text-decoration: none;
    color: inherit;
  }
  
  .title {
    text-align: center;
  }
  
  .title p {
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .timeline {
    margin: 5em auto;
    max-width: 34.15em;
  }
  
  .checkpoint a {
    text-decoration: none; /* Remove o sublinhado dos links */
    display: block; /* Faz com que o link ocupe toda a área do checkpoint */
  }
  
  
  
  .checkpoint .ex1 {
    color: #ddd;
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço do checkpoint */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    text-decoration: none;
  }
  
  .checkpoint .ex2 {
    border: 2px solid #888;
    color: #ddd;
  
    border-radius: 1em;
    padding: 1.5em;
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço do checkpoint */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    text-decoration: none;
  }
  
  .checkpoint .ex3 {
    border: 2px solid #888;
    border-radius: 1em;
    color: #ddd;
    padding: 1.5em;
    
    background-size: contain; /* Ajusta a imagem para caber dentro da área sem cortar */
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .checkpoint .ex4 {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    color: #ddd;
  
    background-size: contain; /* Ajusta a imagem para caber dentro da área sem cortar */
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .checkpoint .ex5 {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    color: #ddd;
  
    background-size: contain; /* Ajusta a imagem para caber dentro da área sem cortar */
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .checkpoint .ex6 {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    color: #ddd;
  
    background-size: contain; /* Ajusta a imagem para caber dentro da área sem cortar */
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .checkpoint .ex1 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
  }
  
  .checkpoint .ex2 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
  }
  
  .checkpoint .ex3 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
  }
  
  .checkpoint .ex4 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
  }
  
  .checkpoint .ex5 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
  }
  .checkpoint .ex6 h2 {
  
    font-size: 1.5em;
    margin-bottom: 10px;
    color: yellow;
  }
  
  .checkpoint .ex2 p {
  
    text-decoration: none;
  }
  
  .checkpoint:nth-child(odd) {
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
  }
  
  .checkpoint:nth-child(even) {
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
  }
  
  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .checkpoint:nth-child(odd)::before {
    left: 0;
  }
  
  .checkpoint:nth-child(even)::before {
    right: 0;
  }
  
  .checkpoint:nth-child(odd) div::before,
  .checkpoint:nth-child(even) div::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    text-decoration: none;
  }
  
  .checkpoint:nth-child(odd) div::before {
    left: -0.5em;
  }
  
  .checkpoint:nth-child(even) div::before {
    right: -0.5em;
  }
  
  @media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }
    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
  }