body {
    background-color: #1240b3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #fff;
}

header {
    position: fixed;
    background-color: #00296b;
    top: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    
  }
  
  header h1{
    margin: 0;
  }
  
  header h1 a{
    
    color:#ddd;
    text-decoration: none;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: inline-flex;
    justify-content: space-around;
  }
  
  header nav li {
  
    font-size: 20px;
  }
  
  header nav a {
    color: #FFD500;
    text-decoration: none;
  }
  
  header nav a:hover {
    color: white;
  }
  

/* Título principal */
h1 {
    margin: 150px 0 20px; /* Distância do topo e margem inferior */
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

/* Estilo para as regras */
.regras {
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /* Melhor leitura */
    margin: 0 auto;
    max-width: 800px; /* Centraliza o texto e define largura máxima */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente transparente */
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destacar */
    padding: 150px;

}

/* Rodapé */

footer {
    background-color: #00296b;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
  }    
  
  .botao {
    display: inline-block;
    margin: 20px auto; /* Espaçamento em relação ao conteúdo anterior */
    padding: 10px 20px; /* Tamanho interno do botão */
    font-size: 38px; /* Tamanho do texto */
    color: white; /* Cor do texto */
    background-color: #ffd000; /* Cor de fundo */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 50px; /* Aumentado para deixar o botão mais arredondado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    transition: background-color 0.3s, transform 0.2s; /* Animação de hover */
    text-align: center;
    border: none;
}


.botao:hover {
    background-color: #c69906; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho */
}

.botao:active {
    transform: scale(0.95); /* Reduz ligeiramente ao clicar */
}
